/* cart_content */
body a{
    color: #111;
}
.cart{
    width: 100%;
}
.cart_content{
    max-width: 1200px;
    height: 630px;
    margin: 0 auto;
}
.cart_content h2{
    font-size: 4rem;
    color: #ae316f;
    text-align: center;
    margin: 20px;
}
.cart_content table{
    width: 100%;
    margin: 0 auto;
    color: #111;
    padding: 1rem;
}
.cart_content table tr{
    text-align: left;
    height: 100px;
    margin: 0 auto;
    font-size: 2rem;
}
.cart_content table tr th{
    vertical-align: middle;
}
.cart_content table input{
    width: 40px;
    height: 30px;
}
.cart_content table tr:nth-child(2) td:nth-child(1){
    margin: 0 auto;
}
.cart_content table tr:nth-child(1){
    border-bottom: 1px solid #ddd;
}
.cart_content table tr:nth-child(2){
    border-bottom: 1px solid #ddd;
}
.cart_content table tr:nth-child(2) td:nth-child(2) .pic,
.cart_content table tr:nth-child(3) td:nth-child(2) .pic{
    display: flex;
    width: 200px;
    /* height: 100px; */
}
.cart_content table tr:nth-child(2) td:nth-child(2) .pic img,
.cart_content table tr:nth-child(3) td:nth-child(2) .pic img{
    width: 100%;
    vertical-align: middle;
}
.cart_content table tr:nth-child(2) td:last-child{
    margin: 1rem auto;
}
.cart_content table tr td{
    vertical-align: middle;
}
.sum_container{
    width: 80%;
    margin: 20px auto;
    height: 200px;
    text-align: right;
}
.sum_container .box{
    margin: 0 auto;
    display: flex;
    justify-content: end;
    color: #111;
    background-color: #fff;
}
.sum_container .box .title{
    margin: 0 20px 10px;
    font-size:2rem;
}
.btn_wrap{
    margin: 2rem auto;
}
.pay,.continue_shop {
    margin:10px;
}
.price{
    color: #BC2222;
    font-size:2rem;
}
/*modal*/
.modal_container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.modal_container.show{
    opacity: 1;
    pointer-events: auto;
}
.modal_container button{
    background-color: #47a386;
    border:none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) ;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
}
.modal_container .modal{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) ;
}
.modal_container .modal h2{
    font-size: 3rem;
    margin: 0;
}
.modal_container .modal i{
    display: block;
    color: #47a386;
    font-size: 5rem;
    margin: 2rem;
}
@media screen and (max-width:768px){
    .cart_content tr th,
    .cart_content tr td
    {
        font-size: 1.6rem;
    }
    .cart_content table tr:nth-child(1) th:nth-child(2),
    .cart_content table tr:nth-child(2) td:nth-child(2),
    .cart_content table tr:nth-child(3) td:nth-child(2)
    {
        display: none;
    }

}
/* more-info */
.more-info{
    width: 100%;
    font-size: 2rem;
    margin-top: 7rem;
}
.more-info .area h2{
    font-size: 3rem;
}
.more-info .row{
    max-width: 1200px;
    margin: 0 auto;
}
.tab{
    display: flex;
    /* flex-wrap: wrap; */
}
.tab li a{
    display: block;
    background: #ddd;
    margin: 0 2px;
    padding: 10px 20px;
}
.tab li.active a{
    background-color: #fff;
}
.area{
    width: 1200px;
    display: none;
    opacity: 0;
    background-color: #ccc;
    padding: 50px 0;
    margin: 0 auto;
}
.area.is-active{
    width: 100%;
    display: block;
    animation-name:displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes displayAnime {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.wrapper{
    margin:30px auto;
    background:#fefefe;
}

.area h2{
    font-size:1.3rem;
    margin:0 0 20px 10px;
}

.area li{
    padding: 10px; 
    border-bottom: 1px solid #ddd;
}
@media screen and (max-width:768px) {
    .more-info{
        font-size: 1.6rem;
    }
}