@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
:root{
    /* font_size */
    --h1-font-size : 3.6rem;
    --h2-font-size : 3rem;
    --h3-font-size: 2.4rem;
    --h4-font-size: 2rem;
    
    /*letter_space*/
    --h1-letter-space : .2rem;
    --h2-letter-space : .1rem;
    --h3-letter-space: .05rem;
    --h4-letter-space: .05rem;

    /*line-height*/
    --ch-line-height: 120%;

    /*bg-color*/
    --bg-color: #D3CBC0;
    --cards-bg-color: #4E6762;
    --breadcrumb-bg-color: #4E6762;
    --product-bg-color: #D3CBC050;
    --box-bg-color:#BA6565;
    --upload-bg-color: #aaa;

    /*font-color*/
    --h1--color: #ffffff;
    --h1--text-shadow: 0 2px 4px #BC2222;
    --h2-color:  #BA6565;
    --p-color: #f5f5f5;
    --p-text-shadow: 0 0px 4px #BA6565;
    --card-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    --nav-font-color: #BC2222;


    --breadcrumb-color: #f5f5f5;
    --hover-color:#bbac84;

    /*tag-color*/
    --tag-color:#E4DFD8;
}
/*思源體*/
body{
/*     font-family: 'Noto Sans TC', sans-serif; */
}
/*btn*/
.buyIt{
  font-size: 16px;
  font-weight: 300;
  width: 150px;
  line-height: 50px;
  border-radius: 30px;
  background-color: #ae316f;
  margin: 20px auto;
  text-align: center;
  font-size: 14px;
  border: none;
}
.buyIt a{
  color: #f5f5f5;
}
.buyIt i{
  margin-left: 10px;
  color: #CFBFC4;
}
.buyIt:hover{
  background-color: #f5f5f5;
  border:1px solid #e2e0e1 ;
}
.buyIt:hover a{
  font-size: 14px;
  font-weight: 900;
  color: #ae316f;
}
.buyIt:hover i{
  color:#ae316f;
  transform: translateX(10px);
  transition: .5s;
}
.addCart{
  font-size: 16px;
  font-weight: 300;
  width: 150px;
  line-height: 50px;
  border-radius: 30px;
  background-color: #ddca78;
  margin: 20px auto;
  text-align: center;
  font-size: 14px;
  border: none;
}
.addCart a{
  color: #f5f5f5;
}
.addCart i{
  margin-left: 10px;
  color: #f5f5f5;
}
.addCart:hover{
  background-color: #f5f5f5;
  border:1px solid #ddca78;
}
.addCart:hover a{
  font-size: 14px;
  font-weight: 900;
  color: #dac568;
}
.addCart:hover i{
  color:#dac568;
  transform: translateX(10px);
  transition: .5s;
}
.gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  z-index: 100;

  transition: translateY .2s;
}
.gotop i{
  color: #ae316f;
}
.gotop:hover i{
  transform: translateY(-10px);
}