.skinCare_routine{
    width: 100%;
}
.skinCare_routine .row{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.skinCare_routine .row .title{
    width: 100%;
    margin: 2rem;
}

.skinCare_routine .row .title h2{
    color: #ccc;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.skinCare_routine .row .title p{
    color: #111;
    font-size: 3rem;
}
.skinCare_routine .row .title p>span{
    color: #ae316f;
    font-weight: 700;
    text-shadow: 2px 2px 0 #ccc;
}
.skinCare_routine .row .title p:not(span){
    color: #EEF3F5;
}
/*switch_function*/
.switch_title{
    max-width: 1200px;
    font-size: 4rem;
    margin: 2rem auto;
    text-align: center;
}
.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem auto;
}
.changeBg{
    opacity: .5;
    transition: opacity 1s;
}
.day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.night{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}
.day_routine{
    transition: opacity 1s;
}
.day img,
.night img{
    width: 100%;
}
.skinCare_routine .row .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.skinCare_routine .row .box:hover{
    transform: translateY(-5px);
    transition: .2s;
    box-shadow: 2px 4px 2px #ac6974;
    background-color: #fff;
    border-radius: 2rem;
}
.skinCare_routine .row .box .card{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.skinCare_routine .row .box .card .pic{
    flex-grow: 1;
}
.skinCare_routine .row .box .card .pic .tag{
    position: relative;
    top: 0;
    left: 2rem;
    font-size: 4rem;
    width: 3rem;
    height: 3rem;
    background-color: #C4A5AF;
    border-radius: 50%;
    color: #111;
}
.skinCare_routine .row .box .card .pic img{
    width: 100%;
}
.skinCare_routine .row .box .card .txt{
    flex-grow: 1;
    margin: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    color: #111;
}

@media screen and (max-width:768px) {
    .skinCare_routine .row .box .card .pic .tag{
        font-size:2.4rem
    }
    
}
/* skin_type */
.skin_type {
    width: 100%;
    background-color: #F0E4E6;
}
.skin_type .row{
    max-width: 1200px;
    margin: 0 auto;
}
.skin_type .row .title{
    width: 100%;
    margin: 2rem;
}
.skin_type .row .title h2{
    color: #ccc;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.skin_type .row .title p{
    color: #111;
    font-size: 3rem;
}
.skin_type .row .title p>span{
    color: #ae316f;
    font-weight: 700;
    text-shadow: 2px 2px 0 #ccc;
}
.skin_type .row .col .type{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    position: relative;
}
.skin_type .row .col .type:hover{
    transform: translateY(-5px);
}
.type_animate{
    transform: translateY(-5px);
    transition: 1s;
}

.skin_type .row .col .type .pic{
    flex-grow: 1;
}
.skin_type .row .col .type .pic img{
    width: 100%;
    border-radius: 10rem;
}
.skin_type .row .col .type .txt{
    width: 100%;
    flex-grow: 1;
    margin: 1rem auto;
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    text-align: center;
    font-weight: 700;
}
.skin_type .row .col .type .txt:before{
    content:" #";
    width: 3rem;    
    height: 3rem;
    background-color: #fff;
}
.skin_type .row .col:hover .detail{
    display: block;
    position: absolute;
    top: -20%;
    left: 0;
    background: 
    linear-gradient(111.61deg, #EFCBDD 2.46%, #FAEEF4 28.94%, rgba(250, 249, 252, 0.6) 41.58%, #EEF3F5 56.97%);
    border-radius: 50%;
    width: 100%;
    height: 75%;
    transform: translate(-8%,35%);
    line-height: 3rem;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 100px;
}
.skin_type .row .col:hover .detail p{
    padding: 2rem;
}
.skin_type .row .col .detail{
    display: none;
    margin: 1rem auto;
}
.skin_type .row .col .type .btn{
    /* margin: 2rem; */
    background-color:#ae316f;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    color: #f5f5f5;
    font-size: 1.6rem;
    margin: 0 auto;
}
.skin_type .row .col .type .btn:hover{
    background-color: #f5f5f5;
    color: #ae316f;
}
.skin_type .row .col .type .btn a{
    color: #f5f5f5;
}
.skin_type .row .col .type .product{
    font-size: 2.4rem;
    color: #ac6974;
    text-align: center;
    font-weight: 600;
    /* margin: 3rem; */
}
@media screen and (max-width:1024px) {
    .skin_type .row .col:hover .detail{     
        overflow: hidden;
    }
    .skin_type .row .col:hover .detail p{
        text-overflow: ellipsis;
    }
}
@media screen and (max-width:768px) {
    .skin_type .row .col .type .txt{
        width: 100%;
        margin: 2rem auto;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .skin_type .row .col .type .txt:before{
        content:" #";
        width: 2rem;    
        height: 2rem;
    }
    .skin_type .row .col .type .product{
        font-size: 1.6rem;
        font-weight: 700;
    }
    .skin_type .row .col:hover .detail p{
        display: none;
    }
    .skin_type .row .col:hover .detail{
        height: 60%;
        transform: translate(-20%,45%);
    }
    .skin_type .row .col:hover .detail .btn{
        font-size: 1.2rem;
    }
}